form .text {
  display: inline-block;
  border: 0;
  width: 260px;
  height: 35px;
  font-size: 14px;
  outline: none;

  border: 2px solid #01af63;
}

form .search {
  width: 90px;
  height: 38px;
  border: 0;
  outline: none;
  cursor: pointer;
  /*   cursor: pointer;   鼠标悬停或点击时button时鼠标变成其他图标  */
  text-align: center;
  line-height: 40px;
  background-color: #01af63;
  color: #ffffff;
}
li {
  list-style: none;
}
body {
  min-height: 100%;
  margin: 0;
  height: 100vh;
  background-color: #eee;
}
/* 书签格式 */
.book-mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 70px;
  height: 90px;
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.iconSize {
  height: 60px;
  width: 60px;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
@media (max-width: 600px) {
  .clock {
    display: none;
  }
  .app-gird {
    padding: 0 5vw !important;
  }
  .app-setup {
    width: 70% !important;
    top: 0 !important;
    height: 100% !important;
  }
  .noteBook {
    width: 90% !important ;
    height: 60% !important;
  }
}
.app-gird {
  position: relative;
  display: flex;
  user-select: none;
  grid-template-columns: repeat(auto-fill, var(--gird-column));
  grid-auto-rows: var(--gird-row);
  grid-auto-flow: row;
  box-sizing: border-box;
  padding: 0 10vw;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.app-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: black;
  backdrop-filter: blur(10px);
  /* background-color: rgba(255, 255, 255, 0.5); */
}
/* 删除app */
.app-del {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active-del .app-del {
  display: flex;
}
.active-del .app-del-on {
  background-color: rgba(6, 251, 30, 0.6);
}
.app-del-on {
  position: relative;
}
.app-div {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: var(--icon-radius);
}
.app-div:hover {
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2);
}

.app-icon {
  height: 100%;
  overflow-y: auto;
}
.app-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 90px;
  padding: 0 10px 20px;
}
.app-img {
  height: 60px;
  width: 60px;
  border-radius: var(--appImg-radius);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
